.logo{
    width: 120px;
}
.menu{
    border-bottom: 2px solid rgb(182, 182, 182);
}
.menu-items{
    color: black;
    font-weight: bold;
    margin-right: 20px;
}
.menu-item:hover{
    text-decoration: none;
}
.toggle{
    background-color: orange;
}
.login_btn{
    background-color: orange;
    color: white;
    font: bold;
    border-radius: 5px;
    text-decoration: none;
}
.login_btn:hover{
    color: white;
    background-color: darkorange;
}